@font-face {
    font-family: '8-bit';
    src: url('../fonts/8-bit/customfont-webfont.woff2') format('woff2'), url('../fonts/8-bit/customfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}